In [1]:
import pandas as pd
import numpy as np
import time_series_transform.base as base
from time_series_transform.time_series_transformer import *

In [2]:
df = pd.DataFrame([
    {'t1':1,'t2':2,'t3':3,'t4':4,'cate1':30},
    {'t1':1,'t2':2,'t3':3,'t4':4,'cate1':30}]
    )

In [3]:
df

   cate1  t1  t2  t3  t4
0     30   1   2   3   4
1     30   1   2   3   4

In [4]:
data = df

In [5]:
config = {}
config['series'] = {
    'colNames':['t1','t2','t3','t4'],
    'tensorType':'sequence',
    'param':{
        'windowSize':2,
        'outType':np.float32
    }
}
config['label'] = {
    'colNames':['t1','t2','t3','t4'],
    'tensorType':'label',
    'param':{
        'windowSize':2,
        'outType':np.float32
    },
    "responseVariable":True
}
config['series_2'] = {
    'colNames':['t1','t2','t3','t4'],
    'tensorType':'sequence',
    'param':{
        'windowSize':2,
        'outType':np.float32
    },
    'sequence_stack':"series"
}

In [13]:
pst = Pandas_Time_Series_Dataset(df,config)

In [14]:
gen = pst.make_data_generator()

In [15]:
next(gen)

({'series': array([[[1, 1],
          [2, 2]],

         [[2, 2],
          [3, 3]]])}, array([3, 4]))